<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Generator</title>
</head>
<body>
    <h1>Select an Artist</h1>
    <form method="post" action="/generate">
        <label for="artist">Choose an artist:</label>
        <select id="artist" name="artist">
            <option value="ArianaGrande">Ariana Grande</option>
            <option value="Beyonce">Beyonce</option>
            <option value="BillieEilish">Billie Eilish</option>
            <option value="BTS">BTS</option>
            <option value="CardiB">Cardi B</option>
            <option value="CharliePuth">Charlie Puth</option>
            <option value="ColdPlay">ColdPlay</option>
            <option value="BillieEilish">Billie Eilish</option>
            <option value="Drake">Drake</option>
            <option value="DuaLipa">Dua Lipa B</option>
            <option value="EdSheeran">Ed Sheeran</option>
            <option value="Eminem">Eminem</option>
            <option value="JustinBieber">Justin Bieber</option>
            <option value="KatyPerry">Katy Perry</option>
            <option value="Khalid">Khalid</option>
            <option value="LadyGaga">Lady Gaga</option>
            <option value="Maroon5">Maroon 5</option>
            <option value="NickiMinaj">Nicki Minaj</option>
            <option value="NickiMinaj">Nicki Minaj</option>
            <option value="JustinBieber">Justin Bieber</option>
            <option value="NickiMinaj">Nicki Minaj</option>
            <option value="SelenaGomez">Selena Gomez</option>
            <option value="TaylorSwift">Taylor Swift</option>
        </select>
        <br>
        <input type="submit" value="Generate Lyrics">
    </form>
</body>
</html>
